
article {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 300px;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 500px;
}


